{% for user in mongo_users %}
db.createUser(
{
    user: "{{ user.name }}",
    pwd: "{{ user.pass }}",
    roles: [
      {% for role in user.roles -%}
      { role: "{{ role.role }}", db: "{{ role.db }}" },
      {% endfor %}
    ]
}, { w: 0 });
{% endfor %}
