{% for user in item.users %}
db.createUser(
{
    user: "{{ user.name }}",
    pwd: "{{ user.pass }}",
    roles: [
      {% for role in user.roles -%}
      { role: "{{ role.role }}", db: "{{ role.db }}" },
      {% endfor %}
    ]
});
{% endfor %}
