rs.initiate()
sleep(13000)
{% for host in groups["all"] %}
  {% if hostvars[host]["mongo_replica_set"] == mongo_replica_set and host != ansible_nodename %}
    {%- if hostvars[host]["mongo_arbiter"] is defined and hostvars[host]["mongo_arbiter"] %}
rs.addArb("{{ host }}:{{ mongo_mongod_port }}")
    {%- else %}
rs.add("{{ host }}:{{ mongo_mongod_port }}")
    {%- endif %}
sleep(8000)
  {% endif %}
{% endfor %}
printjson(rs.status())
